
E-Learning/.vs/E-Learning/v15/Server/sqlite3/db.lock
E-Learning/obj/Debug/VuforiaEditorScripts.csprojAssemblyReference.cache
E-Learning/obj/Debug/VuforiaEditorScripts.csproj.CoreCompileInputs.cache
E-Learning/obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
*.cache
E-Learning/obj/Debug/VuforiaEditorScripts.csprojAssemblyReference.cache
E-Learning/obj/Debug/VuforiaEditorScripts.csproj.CoreCompileInputs.cache
E-Learning/obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
